body{
    background:url("/imagenes/pastel.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-color: rgba(255,255,255,255)
    ;
}

/* encabezado */

header h1{
    text-align: center;
    font-size: 7rem;
    position: relative;
}

/* menu */

.navegacion ul{
    list-style: none;
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: block;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 100px;
    background-color: white;
}

/* efecto del menu */

.navegacion:hover ul li a{
    color: cadetblue;
}

.navegacion ul li a:hover{
    transform: scale(1.1);
    color: black;
    background: white;
    border: 2px solid white;
}


/* contenido */

.conteiner{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.conteiner .article{
    width: 290px;
    height: 380px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: teal;
}

.conteiner .article:hover{
    transform: translateY(-15);
    box-shadow: 0 21px 16px rgba(0, 0, 0, 0.2);
}

.conteiner .article h2{
    color: white;
}

.conteiner .article img{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 100px;
}

.conteiner .article p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.conteiner .article a{
    font-weight: 500;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 100px;
    background-color: white;
}